<% content_for :slider do %>
  <section id="slider_wrapper" class="slider_wrapper full_page_photo">
    <div id="main_flexslider" class="flexslider">
      <ul class="slides">
        <li class="item" style="background-image: url(http://kidscodejeunesse.org/wp-content/uploads/2015/07/kidscodejeunesse.jpg)">
          <div class="container">
           <div class="carousel-caption">
            <h1>A one liner about TechEdSpotlight</h1>
            <p class="lead skincolored">cleanstart is based on good typography and large photography, serving as a foundation for your creative projects. Feel free to browse its templates and discover its features.</p>
            </div>
          </div>
        </li>
        <li class="item" style="background-image: url(http://kidscodejeunesse.org/wp-content/uploads/2015/07/kidscodejeunesse.jpg)">
          <div class="container">
           <div class="carousel-caption">
            <h1>Another one liner</h1>
            <p class="lead skincolored">cleanstart is based on good typography and large photography, serving as a foundation for your creative projects. Feel free to browse its templates and discover its features.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
<% end %>

<row>
  <div class='col-md-4'>
    <h2>Most Recent</h2>
    <ul class='list-group'>
      <% @most_recent_stories.each do |story| %>
      <li class='list-group-item'><%= story.title %></li>
      <% end %>
    </ul>
  </div>
  <div class='col-md-4'>
    <h2>Most Popular</h2>
    <ul class='list-group'>
      <% @most_popular_stories.each do |story| %>
      <li class='list-group-item'><%= story.title %></li>
      <% end %>
    </ul>
  </div>
  <div class='col-md-4'>
    <h2>Topics</h2>
    <ul class='list-group'>
      <li class='list-group-item'>Fix a CMOS batter problem on a laptop by mr electro in Computers</li>
      <li class='list-group-item'>Fix a CMOS batter problem on a laptop by mr electro in Computers</li>
      <li class='list-group-item'>Fix a CMOS batter problem on a laptop by mr electro in Computers</li>
    </ul>
  </div>
</row>
